<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <title>Users Management System</title>
  <div th:insert = "~{bootstrap_fragment :: bootstrap_fragment}">  </div>
</head>

<div th:insert = "~{navbar :: navbar}">  </div>
<body>

<div class ="container">
  <div class = "row">
    <h1> User details </h1>
  </div>

  <table class = "table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
      <th> ID </th>
      <th>  First Name</th>
      <th>  Last Name</th>
      <th>  Email </th>
      <th>  Phone Number </th>
      <th> Actions </th>
    </tr>
    </thead>

    <tbody>
      <td th:text = "${user.id}"></td>
      <td th:text = "${user.firstName}"></td>
      <td th:text = "${user.lastName}"></td>
      <td th:text = "${user.email}"></td>
      <td th:text = "${user.phoneNumber}"></td>
       <td>
        <a th:href = "@{/editDetails/{id} (id=${user.id})}"
             class = "btn btn-primary">Update Details</a>

        </td>
      </tbody>

    </table>

  </div>
  </body>
  </html>