<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

  <title>History</title>
  <div th:insert = "~{bootstrap_fragment :: bootstrap_fragment}">  </div>
</head>

<div th:insert = "~{navbar :: navbar}">  </div>
<body>

<div class ="container">
  <div class = "row">
    <h1> History </h1>
    <li sec:authorize="hasAuthority('write')">
    <form th:action="@{/searchTransactions}" method="post">
      <input type="text" name="id" th:value="${id}"  placeholder="Find by Card ID" size="50" >
      <button type="submit" class="btn btn-info" >Search</button>
      <button type="submit" class="btn btn-info" >Reset</button>
    </form>
    </li>

  </div>

  <table class = "table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
      <th> ID </th>
      <th> Amount</th>
      <th> Date</th>
      <th> Type </th>
      <th>  Card Id </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "transaction: ${transactions}">
      <td th:text = "${transaction.id}"></td>
      <td th:text = "${transaction.amount}"></td>
      <td th:text = "${#dates.format(transaction.date, 'dd-MM-yyyy HH:mm')}"></td>
      <td th:text = "${transaction.type}"></td>
      <td th:text = "${transaction.card.id}"></td>

    </tr>
    </tbody>

  </table>

</div>
</body>
</html>